@{
    ViewData["Title"] = "Home Page";
}


@model IEnumerable<Category>

<div class="container-fluid">
    <div class="header">
        <p>System Builder</p>
    </div>
    @foreach (var item in Model)
    {
        <a href='@Url.Action("GetCategories", "Category", new {category = item.Name})'>@item.Name</a>}
</div>
