@model IEnumerable<Component>

@{
    ViewData["Title"] = "ComponentList";
}

<h1>ComponentList</h1>

<ul class="list-group">
    @foreach (var item in Model)
    {
        <li class="list-group-item">
            <a asp-action="GetComponent" asp-route-id="@item.Id">@item.Manufacturer @item.Name</a>
        </li>
    }
</ul>
