@model IEnumerable<Category>

@{
    ViewData["Title"] = "Component Categories";
}
    <ul class="list-group">
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                @Html.ActionLink(@item.Name, "GetComponents", "Components", new { categoryId = @item.Id })
            </li>
        }
