@{
    ViewData["Title"] = "Home Page";
}
@using Bitukai.Controllers
@model IEnumerable<Category>

<div class="container-fluid">
    <div class="header">
        <p>System Builder</p>
    </div>
    @{foreach (var item in Model)
        {
            <h1>@item.Name</h1>} }
</div>
