@model IEnumerable<Bitukai.Models.Comment>


@{
    if (ViewData["EmptyListError"] != null)
    {
        <h2>There are no comments for this component.</h2>
    }
    else
    {
        <h2>Comments</h2>
        @foreach (var item in Model)
        {
            <div class="row comment">
                <div class="head">
                    <strong>@item.User.UserName</strong> <small>(@item.CreatedAt.ToShortDateString()): </small>
                </div>
                <p> @item.Description </p>
            </div>
        }
    }
}
