@model IEnumerable<Comment>

@{
    if (ViewData["EmptyListError"] != null)
    {
        <h2>There are no comments for this component.</h2>
    }
    else
    {
        <h2>Comments</h2>

        @foreach (var item in Model)
        {
            <li>
                @item.CreatedAt: @item.User.UserName wrote "@item.Description"
            </li>
        }
    }
}